:root {
    --orange: #ff6600;
    --black: #100c08;

    --caret-color: var(--orange);
    --terminal-bg: var(--black);
}

html,
body {
    margin: 0;
    padding: 0;

    min-width: 100vw;
    min-height: 100vh;

    position: relative;
}
